<!DOCTYPE html>
<html>
<head>

</head>
<body>
       <h>Heater</h>

       <form action="/submit" method="post">
          <input type="checkbox" name="days" value="Monday"> Monday
          <input type="checkbox" name="days" value="Tuesday"> Tuesday
          <input type="checkbox" name="days" value="Wednesday"> Wednesday
          <input type="checkbox" name="days" value="Thursday"> Thursday
          <input type="checkbox" name="days" value="Friday"> Friday
          <input type="checkbox" name="days" value="Saturday"> Saturday
          <input type="checkbox" name="days" value="Sunday"> Sunday
            
            <input type="time" id="Time" name="Time" required/>

            <button type="submit">Submit</button>
       </form>
</body>
</html>